<div class="container">
  <div class="checkout_container">
    <div class="checkout_step">
      <div class="checkout_step_header">
        <div class="checkout_trigger">
          <p class="checkout_trigger_text">1 Delivery Address</p>
        </div>
        <div class="checkout_default_content">
          <p>This is Default content</p>
          <p>This is Default content</p>
          <p>This is Default content</p>
          <p>This is Default content</p>
        </div>
      </div>
      <div class="checkout_content">
        <h1>This is main content</h1>
      </div>
    </div>
    <div class="checkout_step">
      <div class="checkout_step_header">
        <div class="checkout_trigger">
          <p class="checkout_trigger_text">2 Payment Information</p>
        </div>
        <div class="checkout_default_content">
          <p>This is Default content</p>
          <p>This is Default content</p>
          <p>This is Default content</p>
          <p>This is Default content</p>
        </div>
      </div>
      <div class="checkout_content">
        <h1>This is main content</h1>
      </div>
    </div>
    <div class="checkout_step">
      <div class="checkout_step_header">
        <div class="checkout_trigger">
          <p class="checkout_trigger_text">3 Review Items & Devlivery</p>
        </div>
        <div class="checkout_default_content">
          <p>This is Default content</p>
          <p>This is Default content</p>
          <p>This is Default content</p>
          <p>This is Default content</p>
        </div>
      </div>
      <div class="checkout_content">
        <h1>This is main content</h1>
      </div>
    </div>
  </div>

</div>
