<div class="container">
  <div class="address_container d-flex justify-content-start align-items-stretch flex-wrap pt-5">
    <div class="address add_address cursor_pointer">
      <img style="width:100px;" src="assets/images/add-location.png" alt="">
    </div>
    <div class="address">
      <h5 class="px-4 py-2">Default</h5>
      <hr class="default_address_seperator">
      <div class="px-4 pb-4">
        <p><b>Name</b></p>
        <p>phone number</p>
        <p>address line 1</p>
        <p>address line 2</p>
        <p>town/city</p>
        <p>country</p>
        <p>postcode</p>
        <p>Delivery Instructions</p>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <p class="order_summary_control">Edit</p>
          <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
          <p class="order_summary_control">Remove</p>
          <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
          <p class="order_summary_control">Set Default</p>
        </div>
      </div>
    </div>
    <div class="address">
      <h5 class="px-4 py-2">Default</h5>
      <hr class="default_address_seperator">
      <div class="px-4 pb-4">
        <p><b>Name</b></p>
        <p>phone number</p>
        <p>address line 1</p>
        <p>address line 2</p>
        <p>town/city</p>
        <p>country</p>
        <p>postcode</p>
        <p>Delivery Instructions</p>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <p class="order_summary_control">Edit</p>
          <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
          <p class="order_summary_control">Remove</p>
          <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
          <p class="order_summary_control">Set Default</p>
        </div>
      </div>
    </div>
    <div class="address">
      <h5 class="px-4 py-2">Default</h5>
      <hr class="default_address_seperator">
      <div class="px-4 pb-4">
        <p><b>Name</b></p>
        <p>phone number</p>
        <p>address line 1</p>
        <p>address line 2</p>
        <p>town/city</p>
        <p>country</p>
        <p>postcode</p>
        <p>Delivery Instructions</p>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <p class="order_summary_control">Edit</p>
          <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
          <p class="order_summary_control">Remove</p>
          <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
          <p class="order_summary_control">Set Default</p>
        </div>
      </div>
    </div>
    <div class="address">
      <!-- <h5 class="px-4 py-2">Default</h5>
      <hr class="default_address_seperator"> -->
      <div class="px-4 pb-4">
        <p><b>Name</b></p>
        <p>phone number</p>
        <p>address line 1</p>
        <p>address line 2</p>
        <p>town/city</p>
        <p>country</p>
        <p>postcode</p>
        <p>Delivery Instructions</p>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <p class="order_summary_control">Edit</p>
          <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
          <p class="order_summary_control">Remove</p>
          <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
          <p class="order_summary_control">Set Default</p>
        </div>
      </div>
    </div>
  </div>
</div>
