.address {
  width: 22%;
  min-height: 287px;
  border: var(--border-2px);
  border-radius: var(--border-radius-12);
  margin: 0px 15px 15px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.add_address {
  border: 2px dashed var(--grey-2);
  justify-content: center !important;
  align-items: center !important;
}

.order_summary_control {
  color: rgb(0, 72, 255);
  cursor: pointer;
}

.default_address_seperator {
  margin: 0px !important;
  margin-bottom: 10px !important;
  height: 1px;
  width: 100%;
  background-color: #b9b9b9;
}
