<div class="container">
  <h2 class="pt-5">
    <b>
      Your Addresses
    </b>
  </h2>
  <hr class="divider">
  <div class="address_container d-flex justify-content-start align-items-start flex-wrap pt-5">
    <div class="address add_address cursor_pointer" (click)="add_address_dialog_open()">
      <img style="width:100px;" src="assets/images/add-location.png" alt="">
    </div>
    <div class="address px-4" *ngFor="let item of address;let i = index;">
      <div *ngIf="item.is_default" class="w-100">
        <p class="pt-3 text_secondary">
          <b>
            Default
          </b>
        </p>
        <hr class="divider">
      </div>
      <div class="pb-4">
        <p class="my-1"><b>{{item.name}}</b></p>
        <p class="mb-1">{{item.line1}},</p>
        <p class="mb-1">{{item.line2}},</p>
        <p class="mb-1">{{item.city}},&nbsp;{{item.country}},</p>
        <p class="mb-1">{{item.postcode}}</p>
        <p class="mb-1">Phone Number&nbsp;:&nbsp;{{item.phone}}</p>
        <div class="d-flex justify-content-start align-items-center mt-3">
          <p class="order_summary_control" (click)="edit_address_dialog_open(i)">Edit</p>
          <p style="color: rgba(0, 0, 0, 0.7);">&nbsp;|&nbsp;</p>
          <p class="order_summary_control" (click)="remove_address(item._id)">Remove</p>
          <p *ngIf="!item.is_default" style="color: rgba(0, 0, 0, 0.7);">&nbsp;|&nbsp;</p>
          <p *ngIf="!item.is_default" class="order_summary_control" (click)="set_default_address(item._id)">Set Default
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #edit_address>
  <div style="background-color: white;">
    <app-form form_component="add_edit_address" [dialog]="dialog"
      [address_data]="edit_address_object"></app-form>
  </div>
</ng-template>
<ng-template #add_address>
  <div style="background-color: white;">
    <app-form form_component="add_edit_address" [dialog]="dialog"></app-form>
  </div>
</ng-template>
