<header class="bg_blue">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo">
        <a class="brand_logo cursor_pointer pen_script text_white" routerLink='/products'>Shopify</a>
      </div>
      <div class="search_bar_container">
        <form>
          <input type="text" name="search_bar" id="search_bar" class="search_bar" placeholder="Search any product">
        </form>
      </div>
      <div class="user_panel d-flex align-items-center justify-content-end">
        <div *ngIf="header_auth_status && username !== '' ;  else signin"
          class="user_meta_container d-flex align-items-center me-4" [matMenuTriggerFor]="menu">
          <div class="user_avatar me-2">
            <img class="user_avatar_img img_fluid" src="assets/images/man.png" alt="">
          </div>
          <p class="text_white username">{{username}}</p>
        </div>
        <ng-template #signin>
          <p [routerLink]="['/login']" class="text_white username">
            Sign In
          </p>
        </ng-template>
        <mat-menu #menu="matMenu" [xPosition]="'before'">
          <button mat-menu-item routerLink="/account">
            <div class="d-flex justify-content-start align-items-center">
              <div class="menu_icon_container">
                <img class="menu_icon" src="assets/images/man.png" alt="">
              </div>
              <div>
                Account
              </div>
            </div>
          </button>
          <button mat-menu-item routerLink="/orders">
            <div class="d-flex justify-content-start align-items-center">
              <div class="menu_icon_container">
                <img class="menu_icon" src="assets/images/shopping-bag.png" alt="">
              </div>
              <div>
                Orders
              </div>
            </div>
          </button>
          <button mat-menu-item routerLink="/address">
            <div class="d-flex justify-content-start align-items-center">
              <div class="menu_icon_container">
                <img class="menu_icon" src="assets/images/address.png" alt="">
              </div>
              <div>
                Address
              </div>
            </div>
          </button>
          <button mat-menu-item routerLink="/message-center">
            <div class="d-flex justify-content-start align-items-center">
              <div class="menu_icon_container">
                <img class="menu_icon" src="assets/images/message-center.png" alt="">
              </div>
              <div>
                Message Center
              </div>
            </div>
          </button>
          <button mat-menu-item routerLink="/payments">
            <div class="d-flex justify-content-start align-items-center">
              <div class="menu_icon_container">
                <img class="menu_icon" src="assets/images/payment-method.png" alt="">
              </div>
              <div>
                Payments
              </div>
            </div>
          </button>
          <button mat-menu-item routerLink="/premium">
            <div class="d-flex justify-content-start align-items-center">
              <div class="menu_icon_container">
                <img class="menu_icon" src="assets/images/crown.png" alt="">
              </div>
              <div>
                Premium
              </div>
            </div>
          </button>
          <button mat-menu-item routerLink="/settings">
            <div class="d-flex justify-content-start align-items-center">
              <div class="menu_icon_container">
                <img class="menu_icon" src="assets/images/settings.png" alt="">
              </div>
              <div>
                Settings
              </div>
            </div>
          </button>
          <button mat-menu-item (click)="logout()">
            <div class="d-flex justify-content-start align-items-center">
              <div class="menu_icon_container">
                <img class="menu_icon" src="assets/images/logout.png" alt="">
              </div>
              <div>
                Signout
              </div>
            </div>
          </button>
        </mat-menu>
        <div class="user_cart_container d-flex align-items-center" routerLink="/cart"
          *ngIf="header_auth_status && username !== ''">
          <div class="user_cart_img me-2">
            <img src="assets/images/shopping-cart.png" class="img_fluid" alt="">
          </div>
          <p class="text_white cart_text">Cart</p>
        </div>
      </div>

    </div>
  </div>
</header>
