.cart_container {
  width: 78%;
  background-color: var(--white);
  border-radius: var(--border-radius-12);
  box-shadow: var(--box-shadow-light);
}

.checkout_container {
  background-color: var(--white);
  border-radius: var(--border-radius-12);
  box-shadow: var(--box-shadow-light);
  width: 22%;
  top: 20px !important;
  z-index: 500 !important;
}

.cart_item_img_container {
  max-width: 150px;
  height: 200px;
  background-color: var(--grey-2);
  width: 18%;
  margin-right: 5%;
}

.cart_item_img_container img{
  max-height: 100%;
}

.cart_item_meta_container {
  width: 52%;
}

.cart_item_price_container {
  width: 25%;
}

.quantity_control {
  border-radius: var(--border-radius-7);
  box-shadow: var(--box-shadow-light);
}
