<div class="product_card_container">
  <div class="product_card_image_container">

  </div>
  <div class="product_card_meta_container">
    <p class="product_brand mt-2 d-flex align-items-center">
      <span class="me-2">Test Brand</span>
      <img src="assets/images/verified.png" class="seller_verified img_fluid" alt="">
    </p>
    <p class="product_title my-2">Test Title</p>
    <div class="d-flex justify-content-start align-items-center">
      <p class="product_price">23.33</p>
      <p class="product_updated_price mx-4">20.00</p>
      <p class="product_discount">3%</p>
    </div>
  </div>
  <div class="product_favourite_container">
    <img src="assets/images/favourite.png" class="img_fluid" alt="">
  </div>
</div>
