.account_card {
  width: 18%;
  background-color: white !important;
  border-radius: var(--border-radius-7);
  box-shadow: var(--box-shadow-light);
}

.account_card:hover {
  box-shadow: var(--box-shadow-light-hover);
}
