<div class="container">
  <div class="my-5 p-5">
    <div class="d-flex justify-content-center align-items-center flex-wrap px-5">
      <div class="account_card cursor_pointer m-4" routerLink="/orders">
        <div class="account_image_container px-5 pt-4">
          <img src="assets/images/shopping-bag.png" class="img_fluid" alt="">
        </div>
        <div class="account_card_title_container">
          <h5 class="text-center py-3">Your Orders</h5>
        </div>
      </div>
      <div class="account_card cursor_pointer m-4" routerLink="/premium">
        <div class="account_image_container px-5 pt-4">
          <img src="assets/images/crown.png" class="img_fluid" alt="">
        </div>
        <div class="account_card_title_container">
          <h5 class="text-center py-3">Premium</h5>
        </div>
      </div>
      <div class="account_card cursor_pointer m-4" routerLink="/address">
        <div class="account_image_container px-5 pt-4">
          <img src="assets/images/address.png" class="img_fluid" alt="">
        </div>
        <div class="account_card_title_container">
          <h5 class="text-center py-3">Address</h5>
        </div>
      </div>
      <div class="account_card cursor_pointer m-4" routerLink="/payments">
        <div class="account_image_container px-5 pt-4">
          <img src="assets/images/payment-method.png" class="img_fluid" alt="">
        </div>
        <div class="account_card_title_container">
          <h5 class="text-center py-3">Payments</h5>
        </div>
      </div>
      <div class="account_card cursor_pointer m-4" routerLink="/message-center">
        <div class="account_image_container px-5 pt-4">
          <img src="assets/images/message-center.png" class="img_fluid" alt="">
        </div>
        <div class="account_card_title_container">
          <h5 class="text-center py-3">Message Center</h5>
        </div>
      </div>
      <div class="account_card cursor_pointer m-4" routerLink="/wallet">
        <div class="account_image_container px-5 pt-4">
          <img src="assets/images/voucher.png" class="img_fluid" alt="">
        </div>
        <div class="account_card_title_container">
          <h5 class="text-center py-3">Gift Cards</h5>
        </div>
      </div>
      <div class="account_card cursor_pointer m-4" routerLink="/seller-registration">
        <div class="account_image_container px-5 pt-4">
          <img src="assets/images/seller.png" class="img_fluid" alt="">
        </div>
        <div class="account_card_title_container">
          <h5 class="text-center py-3">Become Seller</h5>
        </div>
      </div>
      <div class="account_card cursor_pointer m-4" routerLink="/security">
        <div class="account_image_container px-5 pt-4">
          <img src="assets/images/shield.png" class="img_fluid" alt="">
        </div>
        <div class="account_card_title_container">
          <h5 class="text-center py-3">Login & Security</h5>
        </div>
      </div>
    </div>
  </div>
</div>
