.order_container {
  width: 80%;
  margin: auto;
}

.order {
  box-shadow: var(--box-shadow-light);
  border-radius: var(--border-radius-12);
  width: 100%;
  background-color: white !important;
}

.order_meta_container {
  background-color: var(--grey-2);
}

.order_meta_text {
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 7px;
  font-weight: 700;
}


.order_summary_control:hover {
  text-decoration: underline;
}

.order_product_controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.order_product_img_container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_product_img_container img{
  max-height: 100%;
}
