<div class="container">
  <div class="order_container d-flex justify-content-center align-items-center flex-column mt-5">
    <h3 class="w-100 mb-4">Your Orders</h3>
    <div class="order_filter_controls w-100">
      <form>
        <select name="" id="">
          <option value="3months">3months</option>
          <option value="3months">3months</option>
          <option value="3months">3months</option>
        </select>
      </form>
    </div>
    <div *ngFor="let item of orders" class="w-100">
      <div class="order my-4">
        <div class="order_meta_container px-4 py-2 d-flex justify-content-between align-items-center">
          <div class="order_meta_left  d-flex justify-content-start align-items-start">
            <div class="order_date_container pe-5">
              <p class="order_meta_text">Order Placed</p>
              <p class="order_meta_text">{{order_placed(item.order_placed)}}</p>
            </div>
            <div class="order_total_container pe-5">
              <p class="order_meta_text">Total</p>
              <p class="order_meta_text">{{item.total['$numberDecimal']?.toLocaleString()}}</p>
            </div>
            <div class="order_dispatch_container">
              <p class="order_meta_text">Dispatch to</p>
              <p>{{item.address.name}}</p>
            </div>
          </div>
          <div class="order_meta_right">
            <p class="order_meta_text">Order #</p>
            <div class="order_summary_controls d-flex justify-content-end align-items-center">
              <p class="text_link">View Order Details</p>
              <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
              <p class="text_link">Invoice</p>
            </div>
          </div>
        </div>
        <div class="order_product_container p-4 d-flex justify-content-between align-items-start">
          <div class="order_product_left">
            <h5 class="mb-4 text_green">
              <b>
                Estimated Deliver Date
              </b>
              : {{delivery_date(item.delivery_date)}}
            </h5>
            <div *ngFor="let product of item.products"
              class="order_product_meta_container d-flex justify-content-start align-items-start mt-5">
              <div class="order_product_img_container">
                <img class="img_fluid" src="{{product.variations.colors.image_url}}" alt="">
              </div>
              <div class="order_product_meta_details ps-5">
                <h3 routerLink="/product/{{product._id}}" class="my-2 cursor_pointer hover_underline">
                  {{product_title(product.title,product.variations.name,product.variations.colors.name).length >34?
                  (product_title(product.title,product.variations.name,product.variations.colors.name)|
                  slice:0:34)+'...':product_title(product.title,product.variations.name,product.variations.colors.name)}}
                </h3>
                <p class="my-2">
                  <b>Quantity&nbsp;:&nbsp;</b>{{product.quantity}}
                </p>
                <p>
                  <b>Price&nbsp;:&nbsp;</b>{{product_total(product?.variations?.price,
                  product?.variations?.colors?.color_price)}}
                </p>
                <!-- <div class="order_product_controls mt-3">
                  <button class="btn btn_yellow me-3">Buy it Again</button>
                  <button class="btn">View Item</button>
                </div> -->
              </div>
            </div>
          </div>
          <div class="order_product_right">
            <button class="btn btn_typ2 w-250">Return or Replace Items</button><br>
            <button class="btn btn_typ2 w-250 my-3">Leave Seller Feedback</button><br>
            <button class="btn btn_typ2 w-250">Write a Product Review</button>
          </div>
        </div>
        <div class="order_controls"></div>
      </div>
    </div>
  </div>
</div>
