<div class="container">
  <div class="order_container d-flex justify-content-center align-items-center flex-column mt-5">
    <h3 class="w-100 mb-4">Your Orders</h3>
    <div class="order_filter_controls w-100">
      <form>
        <select name="" id="">
          <option value="3months">3months</option>
          <option value="3months">3months</option>
          <option value="3months">3months</option>
        </select>
      </form>
    </div>
    <div class="order my-4">
      <div class="order_meta_container px-4 py-2 d-flex justify-content-between align-items-center">
        <div class="order_meta_left  d-flex justify-content-start align-items-start">
          <div class="order_date_container pe-5">
            <p class="order_meta_text">Order Placed</p>
            <p class="order_meta_text">19 January 2023</p>
          </div>
          <div class="order_total_container pe-5">
            <p class="order_meta_text">Total</p>
            <p class="order_meta_text">20.00</p>
          </div>
          <div class="order_dispatch_container">
            <p class="order_meta_text">Dispatch to</p>
            <p>Jhon</p>
          </div>
        </div>
        <div class="order_meta_right">
          <p class="order_meta_text">Order #</p>
          <div class="order_summary_controls d-flex justify-content-end align-items-center">
            <p class="order_summary_control">View Order Details</p>
            <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
            <p class="order_summary_control">Invoice</p>
          </div>
        </div>
      </div>
      <div class="order_product_container p-4 d-flex justify-content-between align-items-center">
        <div class="order_product_left">
          <h4 class="mb-4">Devlivered on 20 January</h4>
          <div class="order_product_meta_container d-flex justify-content-between align-items-start">
            <div class="order_product_img_container"></div>
            <div class="order_product_meta_details ps-4">
              <h3>Product Title</h3>
              <div class="order_product_controls mt-3">
                <button class="btn btn_typ1 me-3">Buy it Again</button>
                <button class="btn btn_typ2">View Item</button>
              </div>
            </div>
          </div>
        </div>
        <div class="order_product_right">
          <button class="btn btn_typ2 w-250">Return or Replace Items</button><br>
          <button class="btn btn_typ2 w-250 my-3">Leave Seller Feedback</button><br>
          <button class="btn btn_typ2 w-250">Write a Product Review</button>
        </div>
      </div>
      <div class="order_controls"></div>
    </div>
    <div class="order my-4">
      <div class="order_meta_container px-4 py-2 d-flex justify-content-between align-items-center">
        <div class="order_meta_left  d-flex justify-content-start align-items-start">
          <div class="order_date_container pe-5">
            <p class="order_meta_text">Order Placed</p>
            <p class="order_meta_text">19 January 2023</p>
          </div>
          <div class="order_total_container pe-5">
            <p class="order_meta_text">Total</p>
            <p class="order_meta_text">20.00</p>
          </div>
          <div class="order_dispatch_container">
            <p class="order_meta_text">Dispatch to</p>
            <p>Jhon</p>
          </div>
        </div>
        <div class="order_meta_right">
          <p class="order_meta_text">Order #</p>
          <div class="order_summary_controls d-flex justify-content-end align-items-center">
            <p class="order_summary_control">View Order Details</p>
            <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
            <p class="order_summary_control">Invoice</p>
          </div>
        </div>
      </div>
      <div class="order_product_container p-4 d-flex justify-content-between align-items-center">
        <div class="order_product_left">
          <h4 class="mb-4">Devlivered on 20 January</h4>
          <div class="order_product_meta_container d-flex justify-content-between align-items-start">
            <div class="order_product_img_container"></div>
            <div class="order_product_meta_details ps-4">
              <h3>Product Title</h3>
              <div class="order_product_controls mt-3">
                <button class="btn btn_typ1 me-3">Buy it Again</button>
                <button class="btn btn_typ2">View Item</button>
              </div>
            </div>
          </div>
        </div>
        <div class="order_product_right">
          <button class="btn btn_typ2 w-250">Return or Replace Items</button><br>
          <button class="btn btn_typ2 w-250 my-3">Leave Seller Feedback</button><br>
          <button class="btn btn_typ2 w-250">Write a Product Review</button>
        </div>
      </div>
      <div class="order_controls"></div>
    </div>
    <div class="order my-4">
      <div class="order_meta_container px-4 py-2 d-flex justify-content-between align-items-center">
        <div class="order_meta_left  d-flex justify-content-start align-items-start">
          <div class="order_date_container pe-5">
            <p class="order_meta_text">Order Placed</p>
            <p class="order_meta_text">19 January 2023</p>
          </div>
          <div class="order_total_container pe-5">
            <p class="order_meta_text">Total</p>
            <p class="order_meta_text">20.00</p>
          </div>
          <div class="order_dispatch_container">
            <p class="order_meta_text">Dispatch to</p>
            <p>Jhon</p>
          </div>
        </div>
        <div class="order_meta_right">
          <p class="order_meta_text">Order #</p>
          <div class="order_summary_controls d-flex justify-content-end align-items-center">
            <p class="order_summary_control">View Order Details</p>
            <p style="color: rgba(0, 0, 0, 0.1);">&nbsp;|&nbsp;</p>
            <p class="order_summary_control">Invoice</p>
          </div>
        </div>
      </div>
      <div class="order_product_container p-4 d-flex justify-content-between align-items-center">
        <div class="order_product_left">
          <h4 class="mb-4">Devlivered on 20 January</h4>
          <div class="order_product_meta_container d-flex justify-content-between align-items-start">
            <div class="order_product_img_container"></div>
            <div class="order_product_meta_details ps-4">
              <h3>Product Title</h3>
              <div class="order_product_controls mt-3">
                <button class="btn btn_typ1 me-3">Buy it Again</button>
                <button class="btn btn_typ2">View Item</button>
              </div>
            </div>
          </div>
        </div>
        <div class="order_product_right">
          <button class="btn btn_typ2 w-250">Return or Replace Items</button><br>
          <button class="btn btn_typ2 w-250 my-3">Leave Seller Feedback</button><br>
          <button class="btn btn_typ2 w-250">Write a Product Review</button>
        </div>
      </div>
      <div class="order_controls"></div>
    </div>
  </div>
</div>
