/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html,
body {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.container {
  width: 90%;
  max-width: 1400px;
  padding: 0px 1%;
  margin: 0px auto;
}

.fluid_container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

::placeholder {
  color: #c7c7c7;
}

a {
  text-decoration: none !important;
}

.cursor_pointer {
  cursor: pointer !important;
}

.img_fluid {
  max-width: 100%;
}

.pen_script {
  font-family: 'Niconne', cursive !important;
}

.bg_blue {
  background-color: rgb(24, 64, 97);
}

.bg_blue:hover {
  background-color: rgb(24, 64, 97) !important;
}

.text_white {
  color: white !important;
}

.text_link {
  color: rgb(0, 72, 255) !important;
  cursor: pointer !important;
}

.btn {
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
}

.btn:hover {
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.btn_typ1 {
  background-color: rgb(255, 213, 0);
}

.btn_typ1:hover {
  background-color: rgb(255, 213, 0);
}

.btn_typ1:hover {
  background-color: rgb(240, 200, 0);
}

.w-250 {
  width: 100%;
  max-width: 250px !important;
}

/*__________Form Styles__________*/


.mat-drawer-container {
  background-color: rgb(241, 241, 241) !important;
}

.mat-drawer {
  background-color: rgb(241, 241, 241) !important;
}

.mat-drawer-container {
  color: black !important;
}

.mat-drawer {
  color: black !important
}

#main_sidenav .mat-drawer {
  max-height: 100vh !important;
  position: fixed !important;
}

#mat-menu-panel-0 {
  background-color: white !important;
  color: black;
  margin-top: 8px;
  margin-left: 10px;
}

#mat-menu-panel-0::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white !important;
  top: 0px;
  right: 0px;
  transform: rotateX(90deg);
}

#mat-menu-panel-0 .mdc-list-item__primary-text {
  color: black !important;
}

#mat-menu-panel-0 .mat-mdc-menu-item {
  width: 250px;
  align-items: center;
}

#mat-menu-panel-0 .mat-mdc-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}




#fiterSidebar .mat-expansion-panel-spacing {
  margin: 0px !important;
}



#filterSidebar .mat-expansion-panel {
  background-color: white !important;
  box-shadow: none !important;
  color: black !important;
  border: 1px solid #c7c7c7;
}

#filterSidebar .mat-expansion-panel-header-title {
  color: black !important;
}

#filterSidebar .mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: black !important;
}
