/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
  --blue: #0039a6;
  --blue-hover: #003496;
  --blue-shadow: rgba(0, 57, 166, 0.4);
  --red: #E32636;
  --grey: #F8F8F8;
  --grey-2: #E8E8E8;
  --grey-3: #b0b0b0;
  --link: #0000FF;
  --yellow: #FFC72C;
  --yellow-hover: #ffc72ce9;
  --green: #228B22;
  --card-bg: #B8B8B8;
  --place-holder: #E0E0E0;
  --secondary: #585858;
  --primary: #000;
  --white: #fff;
  --orange: #FF5F1F;
  --card: linear-gradient(135deg, #E3E3E3 0%, #5D6874 100%);
  --default-font: 'Nunito Sans', sans-serif;
  --cursive: 'Niconne', cursive !important;
  --container: max(95%, 1500px);
  --fluid-container: max(100%, 1500px);
  --border-radius-7: 7px;
  --border-radius-12: 12px;
  --border-2px: 2px solid #E8E8E8;
  --box-shadow-light: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  --box-shadow-light-hover: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  --box-shadow-medium: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  --box-shadow-medium-hover: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  --box-shadow-dark: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
  --form-input-height: 35px;
  --w-250: 250px;
  --w-25: 25%;
  --w-75: 75%;
  --h1: 32px;
  --h2: 26px;
  --h3: 22px;
  --h4: 20px;
  --h5: 18px;
  --p: 16px;
  --text-small: 12px;
  --line-height-150: 150%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--grey);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-size: var(--p);
  line-height: 150%;
  vertical-align: middle !important;
}

h1 {
  font-size: var(--h1);
  line-height: var(--h1);
}

h2 {
  font-size: var(--h2);
  line-height: var(--h2);
}

h3 {
  font-size: var(--h3);
  line-height: var(--h3);
}

h4 {
  font-size: var(--h4);
  line-height: var(--h4);
}

h5 {
  font-size: var(--h5);
  line-height: var(--h5);
}

.container {
  width: var(--container) !important;
  max-width: var(--container) !important;
  padding: 0px 1%;
  margin: 0px auto;
}

.fluid_container {
  width: var(--fluid-container) !important;
  max-width: var(--fluid-container) !important;
  padding: 0px 1%;
  margin: 0px auto;
}

.component_container {
  padding: 20px !important;
  box-shadow: var(--box-shadow-medium) !important;
  border-radius: var(--border-radius-12) !important;
  background-color: var(--white) !important;
}

::placeholder {
  color: var(--place-holder) !important;
}

a {
  text-decoration: none !important;
}

.cursor_pointer {
  cursor: pointer !important;
}

.img_fluid {
  max-width: 100%;
}

.pen_script {
  font-family: var(--cursive);
}

.bg_blue {
  background-color: var(--blue);
}

.line_height_150 {
  line-height: var(--line-height-150);
}

.text_small {
  font-size: var(--text-small);
}

.text_white {
  color: white !important;
}

.text_green {
  color: var(--green);
}

.text_red {
  color: var(--red);
}

.text_grey {
  color: var(--grey-2);
}

.text_grey2 {
  color: var(--grey-3);
}

.text_secondary {
  color: var(--secondary);
}

.text_link {
  color: var(--link) !important;
  cursor: pointer !important;
}

.text_orange {
  color: var(--orange);
}

.hover_underline:hover {
  text-decoration: underline !important;
}

.underline {
  text-decoration: underline !important;
}

.btn {
  box-shadow: var(--box-shadow-medium);
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
}

.btn:hover {
  box-shadow: var(--box-shadow-medium-hover);
}

.btn_yellow {
  background-color: var(--yellow);
  outline: none !important;
}

.btn_blue {
  background-color: var(--blue);
  outline: none !important;
}

.btn_yellow:hover {
  background-color: var(--yellow-hover) !important;
  outline: none !important;
}

.btn_yellow:active {
  background-color: var(--yellow-hover) !important;
  outline: none !important;
}

.btn_yellow:focus {
  background-color: var(--yellow-hover) !important;
  outline: none !important;
}

.btn_blue:hover {
  background-color: var(--blue-hover) !important;
  outline: none !important;
}

.btn_blue:active {
  background-color: var(--blue-hover) !important;
  outline: none !important;
}

.btn_blue:focus {
  background-color: var(--blue-hover) !important;
  outline: none !important;
}

.btn_no_style {
  border: 0px !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.w-250 {
  max-width: var(--w-250) !important;
}

.w-75 {
  width: 75% !important;
}

.w-25 {
  width: 25% !important;
}

.icon {
  width: 20px;
}

.divider {
  height: 1px;
  background-color: var(--grey-2);
  width: 100%;
  margin: 5px 0px;
}

.border-radius-7 {
  border-radius: 15px;
}

/*__________Form Styles__________*/


.mat-mdc-tab:hover .mdc-tab__ripple::before {
  opacity: 0 !important;
}










#main_sidenav .mat-drawer {
  max-height: 100vh !important;
  position: fixed !important;
}

#mat-menu-panel-0 {
  background-color: white !important;
  color: black;
  margin-top: 8px;
  margin-left: 10px;
}

#mat-menu-panel-0 .mdc-list-item__primary-text {
  color: black !important;
}

#mat-menu-panel-0 .mat-mdc-menu-item {
  width: var(--w-250);
  align-items: center;
}

#mat-menu-panel-0 .mat-mdc-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}











#fiterSidebar .mat-expansion-panel-spacing {
  margin: 0px !important;
}

#filterSidebar .mat-expansion-panel {
  background-color: white !important;
  box-shadow: none !important;
  color: black !important;
  border: 1px solid var(--grey-2);
}

#filterSidebar .mat-expansion-panel-header-title {
  color: black !important;
}

#filterSidebar .mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: black !important;
}













#payments_tab {
  flex-direction: row !important;
}

#payments_tab .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
#payments_tab .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border: none !important;
}

#payments_tab .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
#payments_tab .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: black !important;
}

#payments_tab .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab__text-label {
  color: black;
}

#payments_tab .mat-mdc-tab-labels {
  flex-direction: column !important;
  padding: 10px;
}

#payments_tab .mat-mdc-tab-body-wrapper {
  padding-left: 30px !important;
  width: 100% !important;
}

#payments_tab .mat-mdc-tab {
  background-color: transparent !important;
  padding: 20px 10px !important;
  margin: 5px 0px;
  height: fit-content !important;
  color: transparent !important;
}

#payments_tab .mat-mdc-tab:hover {
  background-color: var(--grey-2) !important;
  box-shadow: var(--box-shadow-light) !important;
  border-radius: var(--border-radius-7) !important;
}

#payments_tab .mdc-tab-indicator--active {
  background-color: var(--grey-2) !important;
  box-shadow: var(--box-shadow-light) !important;
  border-radius: var(--border-radius-7) !important;
}






#create_product_form {
  flex-direction: row !important;
  width: 100% !important;
}

#create_product_form .mat-mdc-tab-labels {
  flex-direction: column !important;
  padding: 10px;
}

#create_product_form .mat-mdc-tab-body-wrapper {
  width: 100% !important;
  height: 80vh !important;
}

#create_product_form .mat-mdc-tab-body-content::-webkit-scrollbar-track {
  width: 7px !important;
  border-radius: 3px !important;
  background-color: var(--red) !important;
}

#create_product_form .mat-mdc-tab-body-content::-webkit-scrollbar-thumb {
  width: 7px !important;
  border-radius: 3px !important;
  background-color: var(--grey-2) !important;
}

#create_product_form .mat-mdc-tab {
  padding: 0px !important;
  height: fit-content !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#create_product_form .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
#create_product_form .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border: none !important;
}

#create_product_form .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
#create_product_form .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: black !important;
  font-weight: bold !important;
  transition: all 100ms ease-in;
}

#create_product_form .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab__text-label {
  color: black;
}









#seller_product_list {
  background-color: white !important;
  color: black !important;
}

#seller_product_list .mdc-data-table__header-cell {
  color: black !important;
  font-family: var(--default-font) !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.mdc-data-table__cell {
  color: black !important;
  font-family: var(--default-font) !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

#seller_product_list_paginator {
  background-color: white !important;
  color: black !important;
  font-size: 14px !important;
}

.mdc-menu-surface {
  background-color: white !important;
  color: black !important;
}

.mat-mdc-option {
  color: black !important;
}

.mat-mdc-select-value {
  color: black !important;
}

.mat-mdc-select-arrow {
  color: var(--blue) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: var(--blue) !important;
}

.mdc-list-item__primary-text {
  color: black !important;
}

.mdc-list-item--selected .mdc-list-item__primary-text,
.mdc-list-item--activated .mdc-list-item__primary-text {
  color: var(--blue) !important;
}

.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
  fill: grey !important;
}

.mat-mdc-paginator-icon {
  fill: var(--blue) !important;
}







.edit_address_dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: white !important;
}

.mat-mdc-dialog-container::-webkit-scrollbar-thumb {
  background-color: #007bff !important;
  border-radius: 10px !important;
}

::ng-deep .edit_address_dialog .mat-mdc-dialog-container .mdc-dialog__surface::-webkit-scrollbar-track {
  background-color: black !important;
}

::ng-deep .edit_address_dialog .mat-mdc-dialog-container .mdc-dialog__surface::-webkit-scrollbar-thumb {
  background-color: black !important;
}



.payments_tab_container .mat-mdc-tab-label-container{
  overflow: auto;
}
